/* Main Variables */
$primaryFont : "Lato", sans-serif;
$secondaryFont : "Oswald", sans-serif;
$primary-color: rgba(44, 62, 80, 0.9);
$secondary-color: rgba(175, 21, 56, 1);
$primary-bgColor: #FAFAFA;
$secondary-bgColor: rgba(240, 245, 247, 1);
$primarySectionHeight: 900px;
$headerFontSize: 35px;
$pFontSize:18px;

$headerColor1: rgba(224, 130, 131, 0.5);
$headerColor2: rgba(228, 241, 254, 0.5);

$softRed: rgba(153, 57, 85, 100);
$brightRed: rgba(239, 45, 86, 100);
$darkGrey: rgba(79, 98, 114, 100);
$lightPurple: rgba(183, 195, 243, 100);
$darkPurple: rgba(35, 2, 46, 0.8);
$lightGrey: rgba(227, 227, 227, 1);
$magenta: rgba(137, 4, 61, 100);

$primaryPadding: 20px;

$portfolioTextColor: whitesmoke;

/* Mixins */
@mixin bgImageProps {
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin displayFlexBox {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	justify-content: space-around;
	-webkit-justify-content: space-around;
	align-content: center;
	-webkit-align-content: center;
}



/*General 
===========================*/

body {
	width: 100%;
	margin: 0;
	box-sizing: border-box;
	font-family: $primaryFont;
}

.hide {
	display: none;
}


@fontface {
	font-family: fontello;
	src: url('font/code.woff');
}


/* Introduction
===========================*/

.intro {
	height: 100%;
	opacity: 0.9;
	background: linear-gradient(to bottom, lighten($headerColor1, 20%) 30%, lighten($headerColor2, 10%) 90%);
	background: -webkit-linear-gradient(to bottom, lighten($headerColor1, 15%) 30%, lighten($headerColor2, 10%) 90%);
    @include bgImageProps;
    background-blend-mode: screen;
    position: relative;
}

.covervid-wrapper {
 	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.diamond {
	position: absolute;
	top: 5px;
	left: 0;
	right: 0;
	bottom: 100px;
	background-color: lighten(mix($lightPurple, $headerColor2), 5%);
	border-radius: 50%;
	opacity: 0.8;
	width: 300px;
	height: 300px;
	margin: auto;
	@media only screen and (min-width: 500px) {
	    	width: 350px;
	    	height: 350px;
	    }

	.masthead {
	    color: mix($darkPurple, $magenta);
	    margin: auto;
	    margin-top: 105px;
	    font-family: $secondaryFont;
	    font-size: $primaryPadding * 2;
	    
	    @media only screen and (min-width: 418px) {
	    	font-size: $primaryPadding * 2.2;
	    }
	    @media only screen and (min-width: 500px) {
	    	margin-top: 115px;
	    }
	}   

    .masthead-intro {
    	@extend .masthead;
    	margin-top: 10px;
    	font-size: $primaryPadding * 1.4;
    	@media only screen and (min-width: 600px) {
	    	font-size: $primaryPadding * 1.6;
	    }
    }
}


/* Description
===========================*/

.description {
	height: 100%;
	background-color: lighten($lightPurple, 10%);
	margin: auto;	
	.content {
		width: 100%;
		max-width: 900px;
		padding-top: 20px;
		margin: auto;
		text-align: center;
		@media only screen and (min-width: 950px) {
			width: 90%;
			height: $primarySectionHeight - 125px;
		}
		.flex-container {
			width: 100%;
			@include displayFlexBox;
			@media only screen and (min-width: 900px) {
				flex-direction: row;
				-webkit-flex-direction: row;
				flex-wrap: wrap;
				-flex-wrap: wrap;
			}
		}

		img.n8Image {
			width: 250px;
			max-width: 300px;
			height: 280px;
			text-align: center;
			margin: auto;
			margin-top: $primaryPadding / 2;
			margin-bottom: $primaryPadding * 1.5;
			border-radius: 20px;
			box-shadow: 0 0 2px $primary-color;
			@media only screen and (min-width: 900px) {
				margin-bottom: $primaryPadding;
			}
		}

		h1 {
			font-family: $secondaryFont;
			font-size: $headerFontSize;
			margin-top: 25px;
			margin-bottom: 25px;
			color: lighten($softRed, 5%);
		}

		p {
			width: 90%;
			max-width: 600px;
			margin: auto;
			margin-bottom: 30px;
			font-family: $primaryFont;
			line-height: 1.5;
			font-size: $pFontSize;
			font-weight: lighter;
			color: darken($darkGrey, 10%);
			span {
				font-weight: bold;
				font-style: italic;
				color: $magenta;
			}
			a {
				color: lighten($magenta, 5%);
				font-weight: bold;
				&:hover {
					color: $brightRed;
				}
			}
			@media only screen and (min-width: 900px) {
				width: 65%;
				margin-bottom: $primaryPadding;
				font-size: $pFontSize * 0.95;
			}
		}
	}

	.skillSet {
		display: none;
		@media only screen and (min-width: 950px) {
			display: block;
			position: relative;
			left: -300px;
			top: -265px;
			padding: 40px;
			width: 350px;

			.skillsHeader {
				font: $primaryFont;
				font-size: $primaryPadding * 1.025;
				color: lighten($softRed, 5%);
				display: block;
				text-align: left;
			}

			.skills {
				height: 30px;
				@include displayFlexBox;
				flex-direction: row;
				-webkit-flex-direction: row;
				flex-wrap: no-wrap;
				-webkit-flex-wrap: no-wrap;
				text-align: left;
				
				span {
					display: inline;
					text-align: left;
					font-size: $primaryPadding;
					color: $brightRed;
				}

				p.skillDescr {
					width: 400px;
					font-size: $primaryPadding - 5px;
					margin-left: $primaryPadding;
					padding-bottom: $primaryPadding;
					text-align: left;
				}
			}
		}

	}
}



/* Portfolio
=========================== */
section.portfolio {
	height: $primarySectionHeight * 5;
	background-color: lighten(mix($darkPurple, $darkGrey), 10%);
/*	@media only screen and (min-width: 858px) {
		height: $primarySectionHeight * 2.7;
	}*/

	@media only screen 
  	and (min-device-width: 768px) 
  	and (max-device-width: 1024px) 
  	and (orientation: landscape) 
  	and (-webkit-min-device-pixel-ratio: 2) {
	height: $primarySectionHeight * 5;
}


	@media only screen and (min-width: 1279px) {
		height: $primarySectionHeight * 2.05;
	}

	.portfolioHeader {
		font-size: $headerFontSize;
		font-family: $secondaryFont;
		color: $lightGrey;
		text-align: center;
		padding-top: $primaryPadding * 2.5;
		padding-bottom: $primaryPadding * 1.6;
		margin: auto;
		margin-bottom: $primaryPadding * 1.5;
		width: 100%;
		height: 100px;
	}

	#portfolio-placeholder {
		@include displayFlexBox;
		width: 90%;
		margin: auto;
		
		@media only screen and (min-width: 410px) {
			flex-direction: row;
			-webkit-flex-direction: row;
			flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			justify-content: space-between;
			-webkit-justify-content: space-between;
			width: 100%;
		}
		
		

		.portfolioElement {
			width: 100%;
			max-width: 350px;
			height: 500px;
			background-color: $lightGrey;
			border-radius: 10px;
			margin: auto;
			margin-bottom: $primaryPadding * 1.5;
			display: block;
			
			.pfTitle {
				font-family: $secondaryFont;
				font-size: $primaryPadding * 1.2;
				color: darken(mix($lightPurple, $magenta), 10%);
				text-align: center;
				margin-top: $primaryPadding;
				margin-bottom: $primaryPadding / 2;
			}
			
			.pfDescr {
				margin-bottom: $primaryPadding;
				text-align: justify;
				color: darken($darkPurple, 10%);
				max-width: 350px;
				font-size: $primaryPadding - 5px;
			}

			.pfLanguages {
				@extend .pfDescr;
				text-align: center;
			}


			img {
				border: 5px solid lighten(mix($darkPurple, $darkGrey), 10%);
				border-radius: $primaryPadding / 2;
				display: block;
				width: 325px;
				margin: auto;
				margin-top: $primaryPadding;
				height: 250px;
				transition: all 200ms;
				&:hover {
					box-shadow: 0 0 20px lighten($darkPurple, 10%);
				}

				@media only screen and (min-width: 858px) {
					width: 360px;
				}		
			}

			a {
				@extend img;
				border: none;
				margin-top: 0;
			}

			ul {
				display: inline-block;
				width: 90%;
				margin: auto;

				li {
					width: 100%;
					margin: auto;
					list-style: none;
				}
			}
		}	
	}
}


/* Contact
===========================*/
.contact {
	height: $primarySectionHeight - 250px;
	background-image: url('../img/getintouch.jpg');
	@include bgImageProps;
	position: relative;

	.content {
		height: 280px;
		width: 280px;
		margin: auto;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba(246, 246, 246, 0.85);
		border-radius: 50%;

		h1 {
			text-align: center;
			padding-top: $primaryPadding * 2;
			margin-bottom: $primaryPadding * 1.4;
			font-family: $secondaryFont;
			font-size: $headerFontSize;
			color: $darkGrey;
		}
		
		h4 {
			text-align: center;
			font-family: $secondaryFont;
			font-size: $primaryPadding;
			color: $darkGrey;
		}

		p {
			display: inline;
			font-size: $primaryPadding;
			text-align: center;
			padding: $primaryPadding * 0.8;

			a {
				text-decoration: none;
				color: $secondary-color;
				opacity: 0.8;
				transition: all 100ms;
				&:hover {
					color: darken($secondary-color, 10%);
					opacity: 1;
				}
			}
		}
	}
}


.icon-paper-plane-empty, .icon-phone-outline {
	font-size: $headerFontSize * 1.375;
	margin-left: 17px;
}



/* Social
===========================*/

.social {
	height: $primarySectionHeight * 0.2;
	background-color: rgba(240, 245, 247, 1);
	
	ul {
		font-family: 'fontello';
		font-size: $headerFontSize;
		width: 100%;
		margin: auto;
		padding-top: $primaryPadding;
		padding-bottom: $primaryPadding;

		a {
			text-decoration: none;
			color: desaturate($secondary-color, 40%);
			mix-blend-mode: multiply;
			transition: all 300ms;
			
			&:hover {
				padding: 0 5px;
				opacity: 0.6;
			}
			.icon-linkedin {
				color: rgba(23, 131, 185, 1);
			}
			.icon-github {
				color: mix($darkPurple, $darkGrey);
			}
			.icon-instagram {
				color: rgba(129, 84, 65, 1);
			}
			.icon-slack {
				color: saturate(mix($lightPurple, $darkPurple), 20%);
			}

		}
	}

	.madeWLove {
	    text-align: center;
		width: 300px;
		font-family: $primaryFont;
		color: $darkGrey;
		padding-top: $primaryPadding;
		font-size: $primaryPadding - 5px;
		margin: auto;
	}

	#imgCredit {
		@extend .madeWLove;
		font-size: 15px;
		height: 20px;
		padding-top: 10px;
		padding-bottom: 0;

		a {
			display: inline;
			text-decoration: none;
			color: $brightRed;
			 &:hover {
				color: $softRed;
			}
		}
	}
}



/* Navigation dots
===========================*/

#fp-nav ul li {
	.fp-tooltip {
		color: mix($brightRed, $softRed);
		font-weight: bold;
		font-size: larger;
	}

	a span {
		background-color: darken($darkGrey, 10%);
	}
}
















