/* Main Variables */
$primaryFont : "Lato", sans-serif;
$secondaryFont : "Oswald", sans-serif;
$primary-color: rgba(44, 62, 80, 0.9);
$secondary-color: rgba(175, 21, 56, 1);
$primary-bgColor: #FAFAFA;
$secondary-bgColor: rgba(240, 245, 247, 1);
$primarySectionHeight: 900px;
$headerFontSize: 35px;
$pFontSize: 20px;

$headerColor1: rgba(224, 130, 131, 0.5);
$headerColor2: rgba(228, 241, 254, 0.5);

$softRed: rgba(153, 57, 85, 100);
$brightRed: rgba(239, 45, 86, 100);
$darkGrey: rgba(79, 98, 114, 100);
$lightPurple: rgba(183, 195, 243, 100);
$darkPurple: rgba(35, 2, 46, 0.8);
$lightGrey: rgba(227, 227, 227, 1);
$magenta: rgba(137, 4, 61, 100);

$primaryPadding: 20px;

$portfolioTextColor: whitesmoke;

/* Mixins */
@mixin bgImageProps {
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*General 
===========================*/

body {
	width: 100%;
	margin: 0;
	box-sizing: border-box;
	font-family: $primaryFont;
}

.hide {
	display: none;
}


@fontface {
	font-family: fontello;
	src: url('font/code.woff');
}


/* Introduction
===========================*/

.intro {
	height: $primarySectionHeight - 100px;
	opacity: 0.9;
	background: linear-gradient(to bottom, lighten($headerColor1, 10%) 40%, lighten($headerColor2, 10%) 80%), url('../img/london-mod2.jpg');
	background: -webkit-linear-gradient(to bottom, lighten($headerColor1, 10%) 40%, lighten($headerColor2, 10%) 80%), url('../img/london-mod2.jpg');
    @include bgImageProps;
    background-blend-mode: screen;
    position: relative;
}



.diamond {
	position: absolute;
	top: 5px;
	left: 0;
	right: 0;
	bottom: 100px;
	background-color: lighten(mix($lightPurple, $headerColor2), 5%);
	border-radius: 10px;
	opacity: 0.8;
	width: 80%;
	height: 175px;
	margin: auto;
	@media only screen and (min-width: 500px) {
	    	width: 70%;
	    	max-width: 475px;
	    	height: 150px;
	    }

	.masthead {
	    color: mix($darkPurple, $magenta);
	    margin: auto;
	    margin-top: 10px;
	    font-family: $secondaryFont;
	    /*font-weight: bold;*/
	    font-size: $primaryPadding * 2;
	    
	    @media only screen and (min-width: 418px) {
	    	font-size: $primaryPadding * 2.2;
	    }
	}   

    .masthead-intro {
    	@extend .masthead;
    	font-size: $primaryPadding * 1.4;
    	@media only screen and (min-width: 600px) {
	    	font-size: $primaryPadding * 1.6;
	    }
    }
}


/* Description
===========================*/

.description {
	height: 100%;
	background-color: lighten($lightPurple, 10%);
	margin: auto;	
	.content {
		width: 90%;
		max-width: 900px;
		padding-top: 20px;
		margin: auto;
		text-align: center;
		@media only screen and (min-width: 900px) {
			max-width: 1200px;
			width: 100%;
		}
		
		img.n8Image {
			width: 95%;
			max-width: 300px;
			text-align: center;
			margin: auto;
			border-radius: 5px;
			box-shadow: 0 0 2px $primary-color;
			margin-top: $primaryPadding / 2;
			margin-bottom: $primaryPadding;
			@media only screen and (min-width: 900px) {
				width: 30%;
				float: left;
				display: inline;
				margin-left: $primaryPadding * 4;
				margin-right: $primaryPadding * 4;
			}
			@media only screen and (min-width: 1200px) {
				margin-left: $primaryPadding * 5;
			}
		}

		h1 {
			font-family: $secondaryFont;
			font-size: $headerFontSize;
			margin-top: 25px;
			margin-bottom: 25px;
			color: lighten($softRed, 5%);
		}

		p {
			font-family: $primaryFont;
			line-height: 1.5;
			font-size: $pFontSize;
			font-weight: lighter;
			color: darken($darkGrey, 10%);
			span {
				font-weight: bold;
				font-style: italic;
				color: $magenta;
			}
			@media only screen and (min-width: 900px) {
				width: 50%;
				float: left;
				display: inline;
				font-size: $pFontSize * 0.9;
			}
		}
	}


	.skillSet {
		display: none;
		@media only screen and (min-width: 550px) {
			display: block;
			padding: 40px;
			width: 90%;
			margin-top: -50px;

			.skillsHeader {
				font: $primaryFont;
				font-size: 30px;
				color: lighten($softRed, 5%);
				display: block;
				clear: left;
				text-align: left;
			}

			.skills {
				clear: both;
				height: 30px;
				display: block;
				text-align: left;
				span {
					display: inline-block;
					text-align: left;
					font-size: $primaryPadding;
					color: $brightRed;
				}

				p.skillDescr {
					display: inline-block;
					font-size: $primaryPadding - 5px;
					margin-left: $primaryPadding / 2;
					text-align: left;
				}
			}
		}

		@media only screen and (min-width: 900px) {
			text-align: center;
			.skillsHeader, .skills {
				margin-left: 70px;
			}
		}

		@media only screen and (min-width: 1290px) {
			width: 100%;
			margin-top: 10px;
			.skillsHeader {
				text-align: center;
			}

			.skills {
				display: inline;
				margin: 10px;
			}
		}
	}
}



/* Portfolio
=========================== */
section.portfolio {
	height: $primarySectionHeight * 2.7;
	background-color: lighten(mix($softRed, $darkGrey), 10%);
	@media only screen and (min-width: 410px) {
		height: $primarySectionHeight * 3;
	}
	@media only screen and (min-width: 480px) {
		height: $primarySectionHeight * 3.3;
	}
	@media only screen and (min-width: 535px) {
		height: $primarySectionHeight * 3.4;
	}
	@media only screen and (min-width: 540px) {
		height: $primarySectionHeight * 1.5;
	}
	@media only screen and (min-width: 700px) {
		height: $primarySectionHeight * 2.1;
	}
	@media only screen and (min-width: 1067px) {
		height: $primarySectionHeight * 1.4;
	}
	@media only screen and (min-width: 1279px) {
		height: $primarySectionHeight;
	}

	.portfolioHeader {
		font-size: $headerFontSize;
		font-family: $secondaryFont;
		color: $lightGrey;
		text-align: center;
		padding-top: $primaryPadding * 2.5;
		padding-bottom: $primaryPadding * 1.5;
		margin: auto;
		width: 100%;
		height: 100px;
	}

	#js-grid-awesome-work {
		margin-top: 50px;
		width: 95%;
	}

	.cbp-l-grid-mosaic .cbp-caption-activeWrap {
		background-color: rgba(4, 4, 4, 0.7);
	}

	.cbp-l-grid-mosaic .cbp-l-caption-title {
		color: $portfolioTextColor;
	}

	.cbp-l-grid-mosaic .cbp-l-caption-desc {
		color: $portfolioTextColor;
		opacity: 0.85;
	}
}


/* Contact
===========================*/
.contact {
	height: $primarySectionHeight - 250px;
	background-image: url('../img/getintouch.jpg');
	@include bgImageProps;
	position: relative;
	z-index: 0;

	.content {
		height: 280px;
		width: 280px;
		margin: auto;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba(246, 246, 246, 0.85);
		border-radius: 50%;

		h1 {
			text-align: center;
			padding-top: $primaryPadding * 2;
			padding-bottom: $primaryPadding * 1.4;
			font-family: $secondaryFont;
			font-size: $headerFontSize;
		}

		p {
			display: inline;
			font-size: $primaryPadding;
			text-align: center;
			padding: $primaryPadding * 0.8;

			a {
				text-decoration: none;
				color: $secondary-color;
				opacity: 0.8;
				transition: all 100ms;
				&:hover {
					color: darken($secondary-color, 10%);
					opacity: 1;
				}
			}
		}
	}
}


.icon-paper-plane-empty, .icon-phone-outline {
	font-size: $headerFontSize * 1.375;
	margin-left: 17px;
}



/* Social
===========================*/

.social {
	height: $primarySectionHeight * 0.2;
	background-color: rgba(240, 245, 247, 1);
	
	ul {
		font-family: 'fontello';
		font-size: $headerFontSize * 1.275;
		width: 100%;
		margin: auto;
		padding-top: $primaryPadding;
		padding-bottom: $primaryPadding;

		a {
			text-decoration: none;
			color: desaturate($secondary-color, 40%);
			mix-blend-mode: multiply;
			transition: all 300ms;
			
			&:hover {
				padding: 0 5px;
				opacity: 0.6;
			}
			.icon-linkedin {
				color: rgba(23, 131, 185, 1);
			}
			.icon-github {
				color: mix($darkPurple, $darkGrey);
			}
			.icon-instagram {
				color: rgba(129, 84, 65, 1);
			}
			.icon-slack {
				color: saturate(mix($lightPurple, $darkPurple), 20%);
			}

		}
	}

	.madeWLove {
	    text-align: center;
		width: 300px;
		font-family: $primaryFont;
		color: $darkGrey;
		padding-top: $primaryPadding;
		font-size: $primaryPadding - 5px;
		margin: auto;
	}

	#imgCredit {
		@extend .madeWLove;
		font-size: 15px;
		height: 20px;
		padding-top: 10px;
		padding-bottom: 0;

		a {
			display: inline;
			text-decoration: none;
			color: $brightRed;
			 &:hover {
				color: $softRed;
			}
		}
	}
}



/* Navigation arrows
===========================*/

#fp-nav ul li {
	.fp-tooltip {
		color: mix($brightRed, $softRed);
		font-weight: bold;
		font-size: larger;
	}

	a span {
		background-color: darken($darkGrey, 10%);
		font-size: larger;
	}
}
















