
.icon-paper-plane-empty:before { content: '\e800'; } /* '' */
.icon-github:before { content: '\e801'; } /* '' */
.icon-phone-outline:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-instagramm:before { content: '\e804'; } /* '' */
.icon-linkedin:before { content: '\e805'; } /* '' */
.icon-slack:before { content: '\e806'; } /* '' */
.icon-angle-up:before { content: '\e807'; } /* '' */
.icon-angle-down:before { content: '\e808'; } /* '' */
.icon-fork:before { content: '\e809'; } /* '' */
.icon-terminal:before { content: '\e80a'; } /* '' */
.icon-html5:before { content: '\e80b'; } /* '' */
.icon-git:before { content: '\e80c'; } /* '' */
.icon-code:before { content: '\e80d'; } /* '' */
.icon-css3:before { content: '\e80e'; } /* '' */
.icon-code-1:before { content: '\e80f'; } /* '' */
.icon-wrench:before { content: '\e810'; } /* '' */
.icon-desktop:before { content: '\e811'; } /* '' */
.icon-laptop:before { content: '\e812'; } /* '' */
.icon-tablet:before { content: '\e813'; } /* '' */